<div class="">
  <div class="d-flex justify-content-between mb-2">
    <label for="">Validations:</label>
  </div>
  <div class="row ">
    <div class="col">
      <ul class="list-group task-list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let rule of password_rules">
          <div class="n-chk">
            <label
              class="new-control new-checkbox checkbox-primary w-100 mb-0 justify-content-between align-items-center">
              <input type="checkbox" class="new-control-input">
              <span class="new-control-indicator"></span>
              <span class="ml-2">
                {{rule}}
              </span>
              <span class="ml-3 d-block">
                <input type="number" class="form-control" min="0">
              </span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>