<div class="row layout-spacing">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-top-spacing">
    <div class="widget widget-five">
      <div class="widget-content">
        <div class="widget-header header d-flex p-5">
          <div class="header-body col-md-4">
            <p class="meta-date">Payment ID</p>
            <h4>#34562660</h4>
          </div>
          <div class="header-body col-md-8">
            <div class="row">
              <div class="col-md-3">
                <p class="meta-date">Date</p>
                <h6>Nov 13, 2020</h6>
              </div>
              <div class="col-md-3">
                <p class="meta-date">Transaction type</p>
                <h6>Cash in</h6>
              </div>
              <div class="col-md-3">
                <p class="meta-date">Any</p>
                <h6>Pending Data </h6>
              </div>
              <div class="col-md-3">
                <p class="meta-date">Any</p>
                <h6>Pending Data</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="widget-header header d-flex pt-4">
          <div class="col-md-4 header-body ">
            <div class="media">
              <div class="w-img">
                <img src="assets/cork/assets/img/90x90.jpg" alt="avatar">
              </div>
              <div class="media-body align-self-center">
                <h6>Dev Summit</h6>
                <p class="meta-date-time">Bronx, NY</p>
              </div>
            </div>
          </div>
          <div class="header-body col-md-8">
            <div class="row     align-items-baseline">
              <div class="col-md-3">
                <p class="meta-date">Status</p>
                <div class="d-flex">
                  <div class="t-dot bg-success statusIcon" data-toggle="tooltip" data-placement="top" title="approved"
                    data-original-title="High"></div>
                  <h6 class="ml-1">Approved</h6>
                </div>
              </div>
              <div class="col-md-3">
                <p class="meta-date">Info</p>
                <h6>info</h6>
              </div>
              <div class="col-md-3">
                <p class="meta-date">Info</p>
                <h6>info</h6>
              </div>
              <div class="col-md-3 ml-auto">
                <div class=" amount-box">
                  <h5>Amount</h5>
                  <h3 class="acc-amount">$470</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="settings-footer">

          <div class="settings-footer-container">
            <button disabled class="btn btn-success mb-2">Aprove</button>
            <button class="btn btn-info mb-2">Refund</button>
            <button class="btn btn-primary  mb-2">Settle</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>